/* Основные цвета */
@import "../shared/styles/variables.css";

@import "../shared/styles/reset.css";

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

h1 {
	margin-bottom: 16px;
}

#root {
	width: 100%;
}
